body{
    background-color: rgb(49, 3, 3);
    margin: 0%;
    text-align: center;
}
h1 , h2{
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(150, 34, 34);
    font: bold;
    
}
p{
    text-align: center;
   color: pink;
    font: caption

}
img{
    margin: 5px;
}
audio , video{
    margin: 0px;
    
}
a:hover{
    text-decoration: underline;
    color: rgb(168, 98, 98);
    
}
 a{
    font-size: large;
    color: pink;
 }  
 h1{
    text-decoration: underline;
 }